aiohttp==3.8.4
websockets==12.0
requests==2.32.3
pandas==2.1.2
python-dateutil==2.8.2
flask==3.0.0
flask-cors==4.0.0
flask-socketio==5.3.5
python-socketio==5.10.0
gunicorn==21.2.0
eventlet==0.33.3
dhanhq
redis==5.0.1
apscheduler==3.10.4